<div class="d-flex">
  <img src="./assets/logo_mcFintess.svg" alt="Imagen" width="150px" height="100px"/>

</div>
<hr>
<ul class="list-group">

  <li
    routerLink="registros"
    routerLinkActive="active"
    class="list-group-item list-group-item-action list-group-item list-group-item-success">
    Registro
  </li>

  <li
    routerLink="productos"
    routerLinkActive="active"
    class="list-group-item list-group-item-action list-group-item list-group-item-success">
    Productos
  </li>

  <li
    routerLink="servicios"
    routerLinkActive="active"
    class="list-group-item list-group-item-action list-group-item list-group-item-success">
    Servicios
  </li>

  <li
    routerLink="apartados"
    routerLinkActive="active"
    class="list-group-item list-group-item-action list-group-item list-group-item-success">
    Apartados
  </li>

</ul>

<!-- <h2>MC Fitness Gym</h2> -->

